<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('app_index') }}">NotaResto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRestaurents" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Restaurents
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownRestaurents">
                    <a class="dropdown-item" href="{{ path('restaurent_index') }}">Voir mes restaurents</a>
                    <a class="dropdown-item" href="{{ path('restaurent_index') }}">Voir tous les restaurents</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('restaurent_new') }}">Créer un restaurent</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Utilisateurs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
                    <a class="dropdown-item" href="{{ path('user_index') }}">Voir tous les utilisateurs</a>
                </div>
            </li>
        </ul>
        
        <form class="form-inline my-2 my-lg-0" method="get" action="{{ path('app_search') }}">
            <input name="codePostal" class="form-control form-control-sm mr-sm-2" type="search" placeholder="Code postal..." aria-label="Search">
            <button class="btn btn-outline-primary btn-sm my-2 my-sm-0" type="submit">Rechercher</button>
        </form>

        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_index') }}">Bienvenue, {{ app.user.email }} !</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Créer un compte</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
