{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        {% for restaurent in restaurents %}
            {% if loop.first %}
                <div class="container">
                    <h1>Notre meilleur restaurent est...</h1>
                    <h2>{{ restaurent.nom }} ! <small class="badge badge-primary">{{ restaurent.averageRating | number_format(2, ',') }} sur 5 étoiles !</small></h2>
                    <p class="lead text-muted">
                        {{ restaurent.description }}
                    </p>
                    <p>
                        <a href="{{ path('restaurent_show', {restaurent: restaurent.id} ) }}" class="btn btn-success my-2">Donner un avis !</a>
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for restaurent in restaurents %}
                    {% if not loop.first %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="path/to/image.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Image of {{ restaurent.nom }}">
                                <div class="card-body">
                                    <h2>{{ restaurent.nom }}</h2>
                                    <small class="badge badge-primary">{{ restaurent.averageRating | number_format(2, ',') }} sur 5 étoiles !</small>
                                    <p class="card-text">
                                        {{ restaurent.description }}
                                    </p>
                                    <div class="d-flex justify-content-between float-right">
                                        <a href="{{ path('restaurent_show', {restaurent: restaurent.id} ) }}" class="btn btn-sm btn-outline-secondary">Donner un avis</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
