{% extends 'base.html.twig' %}

{% block title %}Liste des restaurents{% endblock %}

{% block body %}
<div class="container mt-3">
        <div class="row">
            <div class="col">

                <table class="table">

                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Le restaurent</th>
                        <th>Localité</th>
                        <th>Note</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for restaurent in restaurents %}
                        <tr>
                            <td>{{ restaurent.id }}</td>
                            <td>
                                {{ restaurent.name }}
                                <small>{{ restaurent.description }}</small>
                            </td>
                            <td>{{ restaurent.city.codePostal }} {{ restaurent.city.name }}</td>
                            <td>{{ restaurent.averageRating | number_format(2, ',') }}</td>
                            <td>
                                <a href="{{ path("restaurent_show", {restaurent: restaurent.id}) }}">Voir</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>

                {{ knp_pagination_render(restaurents) }}

            </div>
        </div>
    </div>
{% endblock %}
